@import "./theme.scss";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("../webfonts/Montserrat-Thin.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("../webfonts/Montserrat-ExtraLight.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/Montserrat-Light.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../webfonts/Montserrat-ExtraBold.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/Montserrat-Black.otf");
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: $color-1;
	background-color: #0A0A0A;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  margin-top: 30px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 22px;
  margin: 20px auto 5px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}
.field {
  margin-bottom: 30px;
  label {
    text-transform: uppercase;
    font-size: 11px;
    color: $color-1;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
  }
  input[type=email], input[type=text], input[type=number], input[type=password], textarea, select {
    padding: 10px;
    border: 0;
    background-color: $grey;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    color: var(--grey-5);
  }
  select {
    color: var(--grey-a);
    font-size: 17px;
  }
  input[type=email]:focus, input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, textarea:focus {
    background-color: $grey-2;
    box-shadow: 0 0 3px $grey-light;
  }
  textarea {
    height: 400px;
    resize: none;
  }
  .radio {
    position: relative;
    margin-bottom: 5px;
    input {
      position: absolute;
      left: 0;
      top: 5px;
    }
    span {
      padding-left: 25px;
      display: block;
    }
  }
}
.button, button {
  position: relative;
  color: $color-1;
  background: transparent;
  border: 1px solid $color-1;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  &.main {
    color: $white;
    border: 1px solid $white;
  }
  span {
    margin-right: 5px;
  }
}
.component {
  padding: 20px;
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right;
}


@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}